body {
    font-family: Arial, sans-serif;
    background-color: rgb(239, 239, 179);
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: darkmagenta;
    font-size: 2em;
}

ul {
    list-style-type: circle;
    padding: 0;
}

li {
    background-color: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

#catImages img {
    width: 250px; 
    height: 250px;
    object-fit: cover; 
    margin: 10px;
}
